
    <div class="threads-container">
        <div class="logo-container">
            <h2>Threads</h2>
            <mat-icon>close</mat-icon>
        </div>
    </div>
    <div class="main-container">
        <ng-container>
            <div class="msg-main-container" *ngFor="let channelMessage of channelMessages">
                <div class="msg-container" *ngIf="authService.userData as user">
                    <ng-container *ngFor="let user of users">
                        <div class="avatar" *ngIf="user.uid === channelMessage.userId">
                            <img src="{{(user.photoURL) ? user.photoURL : '/assets/img/profile.png'}}" alt="">
                        </div>
                    </ng-container>
                    <div class="message-column">
                        <div class="msg-header">
                            <ng-container *ngFor="let user of users">
                                <div class="user-name" *ngIf="user.uid === channelMessage.userId">
                                    {{ user.displayName }}
                                </div>
                            </ng-container>
                            <p class="timestamp">{{ channelMessage.timestamp | date : 'dd.MM.y, HH:mm'}}</p>
                        </div>
                        <div class="message">
                            {{ channelMessage.message }}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
