body {
    overflow: hidden;
}

.main-container {
    padding-left: 16px;
    padding-right: 16px;
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    .title {
        font-size: 58px;
        font-weight: bold;
    }
}

h2 {
    margin: 0 !important;
}


.mat-drawer-container {
    height: 100%;
    .sidenav {
        width: fit-content;
        @media (max-width: 850px) {
            width: 200px;
        }

    }

  
}

.logo-container {
    font-weight: bold;
    font-size: large;
    color: #4A154B;
}


.threads-container {
    width: 300px;
}

.msg-container {
    display: flex;
    flex-direction: row;
}

.avatar {
    margin-right: 16px;
    border-radius: 10px;

    img {
        height: 50px;
        width: 50px;
        object-fit: contain;
    }
}

header {
    height: 40px;
    font-weight: bold;
    font-size: large;
}


.main-container {
    overflow-y: auto;
    max-height: 75vh;
    border-top: 1px solid black;
}

.message-column {
    display: flex;

    .user-name {
        margin-right: 16px;
    }
}

h1 {
    font-weight: bold;
}

.msg-header {
    display: flex;
    .user-name {
        margin-right: 16px;
    }
}
