<form action="" class="inputbox" #myForm="ngForm">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Write a message...</mat-label>
        <textarea class="form-control" (keydown.enter)="send()" id="input" #input name="channelMessage" [(ngModel)]="directMessage.message" matInput
            placeholder="Write a message..."></textarea>
    </mat-form-field>
    <footer>
        <button mat-button color="grey" cdkFocusInitial (click)="send()" [disabled]="directMessage.message === ''" >Send</button>
    </footer>
</form>