footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: -19px;
}

.inputbox {
    width: 70vw;
    max-width: 70vw;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 32px;
}

