<header> {{ channel.channelName }} </header>
<div class="main-container">
    <ng-container>
        <div class="msg-main-container" *ngFor="let channelMessage of channelMessages">
            <div class="msg-container">
                <div class="avatar">
                    <img src="/assets/img/panda.png" alt="">
                </div>
                <div class="message">
                    {{ channelMessage.message }}
                </div>
            </div>
        </div>
    </ng-container>
        <app-inputbox></app-inputbox>
</div>