<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      SLACK
    </div>
    <ul class="menu-items">
      <li routerLink="/" routerLinkActive="router-link-active">
        <mat-icon>fact_check</mat-icon>Threads
      </li>
  
      <mat-nav-list>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Channels
            <div (click)="openAddChannelDialog()" class="icon-add">
              <mat-icon>add</mat-icon>
            </div>
          </mat-expansion-panel-header>
          <div *ngFor="let channel of channels" [routerLink]="['/channels/' + channel.channelName]"
            routerLinkActive="router-link-active">
            <a mat-list-item routerLink>{{ channel.channelName }}</a>
          </div>
        </mat-expansion-panel>
      </mat-nav-list>


      <mat-expansion-panel class="li-direct-msg" routerLink="/direct-messages" routerLinkActive="router-link-active"
        (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>perm_identity</mat-icon> Direct messages
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>John</p>
        <p>Maria</p>
      </mat-expansion-panel>
    </ul>
  </mat-drawer>

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" (click)="drawer.toggle()">menu</mat-icon>
        <span>SLACK</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="main-container">
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</mat-drawer-container>
<app-footer></app-footer>