<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      SLACK
    </div>
    <ul class="menu-items">
      <li routerLink="/" routerLinkActive="router-link-active">
        <mat-icon>fact_check</mat-icon>Threads
      </li>
      <mat-expansion-panel routerLink="/channels" routerLinkActive="router-link-active" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
             Channels <div class="icon-add"><mat-icon>add</mat-icon></div>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel class="li-direct-msg" routerLink="/direct-messages" routerLinkActive="router-link-active"
        (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>perm_identity</mat-icon> Direct messages
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>John</p>
        <p>Maria</p>
      </mat-expansion-panel>
    </ul>
  </mat-drawer>

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu-icon" (click)="drawer.toggle()">menu</mat-icon>
        <span>SLACK</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="main-container">
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</mat-drawer-container>
<app-footer></app-footer>