<div *ngFor="let user of users">
    <ng-container *ngIf="user.uid === channelId">
        <header> {{ user.displayName }} </header>
    </ng-container>
</div>
<div class="main-container">
    <ng-container>
        <div class="msg-main-container" *ngFor="let directMessage of directMessages">
            <div class="msg-container" *ngIf="authService.userData as user">
                <ng-container *ngFor="let user of users">
                    <div class="avatar" *ngIf="user.uid === directMessage.userId">
                        <img src="{{(user.photoURL) ? user.photoURL : '/assets/img/profile.png'}}" alt="">
                    </div>
                </ng-container>
                <div class="message-column">
                    <div class="msg-header">
                        <ng-container *ngFor="let user of users">
                            <div class="user-name" *ngIf="user.uid === directMessage.userId">
                                {{ user.displayName }}
                            </div>
                        </ng-container>
                        <p class="timestamp">{{ directMessage.timestamp | date : 'dd.MM.y, HH:mm'}}</p>
                    </div>
                    <div class="message">
                        {{ directMessage.message }}
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <app-inputbox-direct-msg></app-inputbox-direct-msg>
</div>