.msg-container {
    display: flex;
    flex-direction: row;
}

.avatar {
    margin-right: 16px;
    border-radius: 10px;

    img {
        height: 50px;
        width: 50px;
        object-fit: contain;
    }
}

.msg-container {
    position: relative;
    margin-bottom: 32px;
}

header {
    height: 40px;
    font-weight: bold;
    font-size: large;
}

.main-container {
    overflow-y: scroll;
    max-height: 60vh;
    border-top: 1px solid black;
}

.message-column {
    display: flex;

    .user-name {
        margin-right: 16px;
    }
}

.user-name {
    font-weight: bold;
}

.msg-header {
    display: flex;
    .user-name {
        margin-right: 16px;
    }
}

